<!DOCTYPE html>
<html ng-app="voteApp">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="config.js"></script>
	<script src="vote.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Next House Vote</title>

	<link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-content" ng-controller="VoteController">
        <form class="form" method="post" action="submit.py">
            <div class="form-title-row">
                <h1>{{vote.title}}</h1>
            </div>
            <div id="form-val">
                <p>Validated as Next resident: %s</p>
            </div>
		    <div id="form-intro">
				<p>{{vote.intro}}</p>
		    </div>

			<iframe ng-if="vote.document" ng-src="{{vote.document | trusted}}"></iframe>

            <div ng-repeat="q in vote.questions" class="form-row">
                <label><span>{{$index + 1}}. {{q.title}}</span></label>
                <div class="form-radio-buttons">
                    <div ng-repeat="o in q.options">
                        <label>
							<div class="desc" ng-if="o.description">{{o.description}}</div>
                            <input type="radio" name="q{{$parent.$index}}" value="{{o.title ? o.title : o}}">
                            <span>{{o.title ? o.title : o}}</span>
                        </label>
						<div ng-if="o.title" style="height: 15px">
                    	</div>
                	</div>
					<div ng-if="q.write_in">
						<label>
							<input type="radio" name="q{{$index}}" value="write">
							<span>Write-in (use below)</span>
						</label>
					</div>
				</div>

				<div ng-if="q.write_in" class="form-row">
	                <label>
	                    <span>Write-in Candidate (if applicable):</span>
	                    <input name="write{{$index}}"></input>
	                </label>
	            </div>
			</div>

            <div class="form-row">
                <label>
                    <span>Comments</span>
                    <textarea rows="4" name="comment"></textarea>
                </label>
            </div>


            <div class="form-row">
                <button type="submit">Submit</button>
            </div>

        </form>

    </div>

</body>

</html>
